/* .movie-poster {
  width: 300px;
  height: 300px;
  object-fit: cover;
} */

.movie-card:hover .overlay {
  display: flex;
  transition: 0.3s ease;
}

.slick-list {
  width: 95vw;
}

@media screen and (max-width: 500px) {
  .slick-next:before,
  .slick-prev:before {
    content: "";
  }
  .app {
    overflow: hidden;
  }
}
